---
// src/pages/dogtraining/index.astro
import { Head } from 'astro:head';

// Your affiliate link
const AFFILIATE_LINK = "https://c780fgjilg5qdm2z64kl0av6yu.hop.clickbank.net/";
---
<html>
  <Head>
    <meta http-equiv="refresh" content={`0; url=${AFFILIATE_LINK}`} />
    <script>
      window.location.href = `${AFFILIATE_LINK}`;
    </script>
    <title>Redirecting...</title>
  </Head>
  <body>
    <p>If you are not redirected automatically, <a href={AFFILIATE_LINK}>click here</a>.</p>
  </body>
</html>